* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 2), rgba(0, 0, 0, 0.1)),
    url(https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80);
  background-position: center;
  background-size: cover;
}

.rubrik {
  color: white;
}

h1 {
  margin: 0 auto;
  text-align: center;
  padding: 2%;
  font-size: 4rem;
}

.info {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: stretch;
  padding: 20px;
}

.info section {
  border: 1px solid black;
  box-shadow: 5px 5px 8px 0px black;
  border-radius: 3px;
  text-align: center;
  background: grey;
  color: white;
}

.info section:hover {
  transition: transform 0.1s ease-out;
  transform: translateY(15px);
}

.info section img {
  width: 100%;
}

.text {
  padding: 0 20px 20px;
}

.text h2 {
  text-transform: uppercase;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .info {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
}

@media (max-width: 500px) {
  .info {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }

  .info section {
    text-align: center;
  }
}

.hem {
  margin-left: 15px;
}

.btn {
  width: 160px;
  height: 40px;
  border: none;
  color: black;
  background: white;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0;
  transition: ease-out 0.3s;
  font-size: 25px;
  outline: none;
}

.btn:hover {
  box-shadow: inset 30px 0 0 0 black;
  cursor: pointer;
}

@media screen and (max-width: 371px) {
  h1 {
    font-size: 40px;
  }

  .btn {
    width: 100px;
    height: 30px;
    font-size: 20px;
  }

  header {
    background-position: center;
    background-size: cover;
    max-width: 420px;
    width: 100%;
  }
}

@media (max-width: 762px) {
  .info {
    padding-top: 20px;
  }
}

.medlem {
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid black;
  box-shadow: 4px 4px 4px  grey;
}

.medlem .titel {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #fec107;
  text-transform: uppercase;
  text-align: center;
}

.medlem .formular {
  width: 100%;
}

.medlem .formular .fylla {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.medlem .formular .fylla label {
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 14px;
}

.medlem .formular .fylla .fyll,
.medlem .formular .fylla .textarea {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.medlem .formular .fylla .textarea {
  resize: none;
  height: 125px;
}

.medlem .formular .fylla .valja {
  position: relative;
  width: 100%;
  height: 37px;
}

.medlem .formular .fylla .valja select {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #d5dbd9;
  width: 100%;
  height: 100%;
  padding: 8px 10px;
  border-radius: 3px;
  outline: none;
}

.medlem .formular .fylla .valja:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.medlem .formular .fylla .fyll:focus,
.medlem .formular .fylla .textarea:focus,
.medlem .formular .fylla select:focus {
  border: 1px solid #fec107;
}

.medlem .formular .fylla p {
  font-size: 14px;
  color: #757575;
}

.medlem .formular .fylla .checka {
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}

.medlem .formular .fylla .checka input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.medlem .formular .fylla .checka .checkmarke {
  width: 15px;
  height: 15px;
  border: 1px solid #fec107;
  display: block;
  position: relative;
  
}

.medlem .formular .fylla .checka .checkmarke:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}

.medlem .formular .fylla .checka input[type="checkbox"]:checked ~ .checkmarke{
    background: #fec107;
}

.medlem .formular .fylla .checka input[type="checkbox"]:checked ~ .checkmarke:before{
    display: block;
}

.medlem .formular .fylla .btn3{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #fec107;
    color: #fff;
    cursor: pointer;
    border-radius: 3px; 
    outline: none;
}

.medlem .formular .fylla .btn3:hover{
    background: #ffd658;
}

@media (max-width: 420px){
    .medlem .formular .fylla {
        flex-direction: column;
        align-items: flex-start;
    }

    .medlem .formular .fylla label{
        margin-bottom: 5px;
    }

    .medlem .formular .fylla.villkor{
        flex-direction: row; 
    }
}
