* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 2), rgba(0, 0, 0, 0.1)),
    url(70.jpeg);
  background-position: center;
  background-size: cover;
}

.rubrik {
  color: white;
}

h1 {
  margin: 0 auto;
  text-align: center;
  padding: 2%;
  font-size: 4rem;
  font-family: 'Cormorant Garamond', serif;
}

.hem {
  margin-left: 15px;
}

.btn {
  width: 160px;
  height: 40px;
  border: none;
  color: #010101;
  background: #F9FAFA;
  border-radius: 4px;
  box-shadow: inset 0 0 0 0;
  transition: ease-out 0.3s;
  font-size: 25px;
  outline: none;
  font-family: 'Alef', sans-serif;
}

.btn:hover {
  box-shadow: inset 30px 0 0 0 #010101;
  cursor: pointer;
}

@media screen and (max-width: 371px) {
  h1 {
    font-size: 40px;
  }

  .btn {
    width: 100px;
    height: 30px;
    font-size: 20px;
    margin-top: 20px;
  }

  header {
    background-position: center;
    background-size: cover;
    max-width: 420px;
    width: 100%;
  }
}

main{
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto,60px)) 1fr;
    grid-gap: 40px;
    padding: 60px 0;
}

.cards{
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
    font-family: 'Palanquin', sans-serif;
}

.card{
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: #9A9A9A;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.8);
}

.card:hover{
    transform: translateY(-7px);
}

.img-cont{
    width: 100%;
    padding-top: 56%;
    overflow: hidden;
    position: relative;
}

.img-cont img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardCon{
    padding: 20px;
}

.cardtitel{
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
}

@media screen and (max-width: 1000px){
    .card{
        grid-column-end: span 6;
    }
}

@media screen and (max-width: 700px){
    main{
        grid-gap: 20px;
    }

    .card{
        grid-column-end: span 12;
    }
}

@media screen and (max-width: 500px){
    main{
        grid-template-columns: 10px repeat(6, 1fr) 10px;
        grid-gap: 10px;
        justify-self: center;
    }

    .cards{
        grid-column-end: 2 / span 6;
        grid-template-columns: repeat(6,1fr);
        grid-gap: 20px;
        width: 94%;
    }

    .card{
        grid-column-end: span 6;
    }
}

.leftCont{
  padding-bottom: 52px;
}

footer{
  background: #a9abae;
  padding: 90px 0;
  font-family: 'Sarabun', sans-serif;
}

.footerCont{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

h4{
  font-size: 26px;
}

input{
    font-family: 'Sarabun', sans-serif;
}

.social{
  margin: 20px 0;
}

.social a{
  color: #37486a;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}

.social a:hover{
  color: #a924ac;
}

.rightCont h5{
  font-size: 26px;
  margin-bottom: 20px;
}

.border{
  width: 100px;
  height: 4px;
  background: #a924ac;
  margin-bottom: 20px;
}

.mail{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.rightCont p{
  margin-bottom: 20px;
}

.skriva{
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  color: #293043;
  background: #F9FAFA;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  min-width: 260px;
}

.btn6{
  padding: 18px 40px;
  font-size: 16px;
  color: #F9FAFA;
  background: #a924ac;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}

.btn6:hover{
  opacity: .7;
}

@media screen and (max-width:960px) {
  .footerCont{
    max-width: 600px;
  }
  .rightCont{
    width: 100%;
    margin-bottom: 60px;
  }

  .leftCont{
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width:700px){
  .btn6{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }
}
