*{
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}

header{
    width: 100%;
    height: 150vh;
    background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.8)),url(Gymochmotion.jpg);
    background-position: center;
    background-size: cover;
}

nav{
    padding: 3%;
}

nav ul{
    margin: 1rem auto;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 0%;
    min-width: 350px;
}

nav ul li{
    list-style: none;
    text-align: center;
    padding: 0;
    display: inline-block;
    color: #F9FAFA;
    font-size: clamp(2.25rem, 2vw, 2.5rem);
    text-decoration: underline;
    background: #010101;
   
}

nav ul li a{
    padding: 1%;
}



.rubrik{
    color: #F9FAFA;
    position: absolute;
    top: 35%;
    left: 10%;
}

.rubrik h1{
    font-size: 50px;
    padding-bottom: 25px;
}

.rubrik p{
    font-size: clamp(1.25rem, 1.75vw, 1.5rem);
    text-align: justify;
    padding-right: 60%;
}

.button{
    padding-top: 15px;
    position: absolute;
    
}

.yttre{
    position: relative;
    background: #F9FAFA;
    height: 70px;
    width: 220px;
    border-radius: 50px;
}

.yttre button, .yttre span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.yttre button{
    background: #F9FAFA;
    color: #010101;
    outline: none;
    border: none;
    font-size: 20px;
    z-index: 9;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    height: 60px;
    width: 210px;
    border-radius: 50px;
}

.yttre span{
    height: 100%;
    width: 100%;
    background: inherit;
    border-radius: 50px;
    
    
}

.yttre:hover span{
    filter: blur(15px);
}

.yttre:hover{
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate{
    0%{
        filter: hue-rotate(0deg)
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.info{
    position: absolute;
    left: 50%;
    top: 35%;
    display: flex;
}

.card{
    position: relative;
    width: 200px;
    height: 230px;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
    background: #F9FAFA;
    margin: 10px 15px;
    background-position: center;
    background-position: cover;
    transition: 0.5s;
    color: #F9FAFA;
}

h2{
    background: #F9FAFA;
    text-align: center;
    color: #010101;
    border: 3px solid #010101;
}

.card1{
    background-image: url(photo-1534438327276-14e5300c3a48.jpg);
}

.card2{
    background-image: url(photo-1534438327276-14e5300c3a48.jpg);
}

.card3{
    background-image: url(photo-1534438327276-14e5300c3a48.jpg);
}

.card:hover{
    transform: translateY(-15px);
}

@media screen and (max-width: 1418px) {
    .info{
        display: flex;
        flex-direction: column;
        left: 60%;
    }


  
}

@media screen and (max-width: 1039px) {
    .rubrik {
        top: 15%;
        left: 0%;
        margin: 1rem auto;
        width: 98%;
        text-align: center;
        justify-content: center;
        padding: 0%;
    }


    .rubrik p{
        top: 15%;
        left: 0%;
        margin: 1rem auto;
        width: 98%;
        text-align: center;
        justify-content: center;
        padding: 0%;  
    }

    .button{
        width: 100%
    }

    .yttre{
        margin: 0 auto;
    }

    .info{
        left: 0%;
        width: 99%;
        top: 50%;
        
    }

    a{
        justify-content: center;
        margin: 1rem auto;
    }

}

   @media screen and (max-width: 600px) {
        nav ul li{
        font-size: 20px;
    }

    .rubrik h1{
        font-size: 30px;
    }

    .rubrik p{
        font-size: 15px;
    }

}

@media screen and (max-width: 365px) {
    nav ul{
        display: flex;
        flex-direction: column;
        min-width: 100px;
    }

    nav ul li{
        padding: 4%;
    }

    .rubrik{
        top: 20%;
    }

    .info{
        top: 80%;
    }
}



@media screen and (max-height: 890px){
    header{
        height: 230vh;
    }
}

@media screen and (max-height: 670px){
    header{
        height: 230vh;
    }
}

.bottom{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
}

.bottom span{
    color: #F9FAFA;
}

.bottom a{
    color: #a924ac;
    text-decoration: none;
}

.bottom a:hover{
    text-decoration: underline;
}